<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Listado de las Pushes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let push of mensajes">
      <ion-label>
        <h3>{{ push.title }}</h3>
        <p>{{ push.body }}</p>
        <p>{{ push.additionalData | json }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
